@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Roboto Slab', serif; */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--roboto);
}
:root {
  --roboto: "Roboto", sans-serif;
  --roboto-slab: "Roboto Slab", serif;
  /* Tons pretos */
  --dm_preto_00: #2c2c2c;
  --dm_cinza_01: #606060;
  --dm_cinza_02: #959595;
  --dm_cinza_03: #cacaca;
  --dm_cinza_04: #f0f0f0;
  --dm_cinza_05: #f1f1f1;
  --dm_cinza_CT01: #808080;
  /* Creme */
  --dm_creme_00: #faf6f0;
  --dm_creme_01: #efece6;
  --dm_creme_02: #fdfbf9;
  /* Azul */
  --dm_azul_00: #0567ff;
  --dm_azul_01: #448dff;
  --dm_azul_02: #82b3ff;
  --dm_azul_03: #c1d9ff;
  --dm_azul_C01: #002b99;
  --dm_azul_C02: #3eb3de;
  --dm_azul_C03: #007d99;
  --dm_azul_C04: #02deda;
  --dm_azul_CT01: #184995;
  --dm_azul1_C08: #eff3ff;
  --dm_azul2_C08: #c6dff8;
  --dm_azul3_C08: #9ecae1;
  --dm_azul4_C08: #6baed6;
  --dm_azul5_C08: #3182bd;
  --dm_azul6_C08: #08519c;
  /* Lilas */
  --dm_lilas_00: #9e6cff;
  --dm_lilas_01: #b691ff;
  --dm_lilas_02: #cfb6ff;
  --dm_lilas_03: #e7daff;
  --dm_lilas_CT01: #654c95;
  /* Rosa */
  --dm_rosa_00: #f45197;
  --dm_rosa_01: #f77cb1;
  --dm_rosa_02: #ff99aa;
  --dm_rosa_03: #fcd3e5;
  --dm_rosa_C01: #f45197;
  --dm_rosa_C02: #db129b;
  --dm_rosa_C03: #fa0060;
  --dm_rosa_C04: #eb5fe1;
  --dm_rosa_CT01: #903e61;
  --dm_rosa1_C05: #feebe2;
  --dm_rosa2_C05: #fcc5c0;
  --dm_rosa3_C05: #fa9fb5;
  --dm_rosa4_C05: #f768a1;
  --dm_rosa5_C05: #c51b8a;
  --dm_rosa6_C05: #7a0177;
  /* Verde */
  --dm_verde_00: #3e9a00;
  --dm_verde_01: #6eb340;
  --dm_verde_02: #9fcd80;
  --dm_verde_03: #cfe6bf;
  --dm_verde_C01: #3e9a00;
  --dm_verde_C02: #2bde02;
  --dm_verde_C03: #09d188;
  --dm_verde_C04: #5ffc96;
  --dm_verde_CT01: #356316;
  --dm_verde1_C06: #edf8fb;
  --dm_verde2_C06: #cef3ec;
  --dm_verde3_C06: #99d8c9;
  --dm_verde4_C06: #66c2a4;
  --dm_verde5_C06: #2ca25f;
  --dm_verde6_C06: #006d2c;
  /* Laranja */
  --dm_laranja_00: #f25900;
  --dm_laranja_01: #f58340;
  --dm_laranja_02: #f9ac80;
  --dm_laranja_03: #fcd5bf;
  --dm_laranja_C01: #f25900;
  --dm_laranja_C02: #ff8c67;
  --dm_laranja_C03: #ff3419;
  --dm_laranja_C04: #ff9745;
  --dm_laranja_CT01: #8f4216;
  --dm_laranja1_C07: #feedde;
  --dm_laranja2_C07: #fdd0a2;
  --dm_laranja3_C07: #fdae6b;
  --dm_laranja4_C07: #fd8d3c;
  --dm_laranja5_C07: #e6550d;
  --dm_laranja6_C07: #a63603;
  /* Amarelo */
  --dm_amarelo_00: #ffa400;
  --dm_amarelo_01: #ffbb40;
  --dm_amarelo_02: #ffd280;
  --dm_amarelo_03: #ffe8bf;
  --dm_amarelo_C01: #ffa400;
  --dm_amarelo_C02: #ffcb3f;
  --dm_amarelo_C03: #f1e80c;
  --dm_amarelo_C04: #d5ec25;
  --dm_amarelo_CT01: #956816;
  /* Roxo */
  --dm_roxo_C01: #9e6cff;
  --dm_roxo_C02: #7445eb;
  --dm_roxo_C03: #68008c;
  --dm_roxo_C04: #af52e6;
  /* outras */
  --dm_areia_C09: #e0ba88;
  --dm_turquesa_C09: #289da3;
  --dm_vermelho_00: #"e2381b";

  /* Element-plus */
}

:root {
  --el-color-white: var(--dm_creme_00);
  --el-color-black: var(--dm);
  --el-color-primary-rgb: 64, 158, 255;
  --el-color-success-rgb: 103, 194, 58;
  --el-color-warning-rgb: 230, 162, 60;
  --el-color-danger-rgb: 245, 108, 108;
  --el-color-error-rgb: 245, 108, 108;
  --el-color-info-rgb: 144, 147, 153;
  --el-font-size-extra-large: 20px;
  --el-font-size-large: 18px;
  --el-font-size-medium: 16px;
  --el-font-size-base: 14px;
  --el-font-size-small: 13px;
  --el-font-size-extra-small: 12px;
  --el-font-family: "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  --el-font-weight-primary: 500;
  --el-font-line-height-primary: 24px;
  --el-index-normal: 1;
  --el-index-top: 1000;
  --el-index-popper: 2000;
  --el-border-radius-base: 4px;
  --el-border-radius-small: 2px;
  --el-border-radius-round: 20px;
  --el-border-radius-circle: 100%;
  --el-transition-duration: 0.3s;
  --el-transition-duration-fast: 0.2s;
  --el-transition-function-ease-in-out-bezier: cubic-bezier(
    0.645,
    0.045,
    0.355,
    1
  );
  --el-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
  --el-transition-all: all var(--el-transition-duration)
    var(--el-transition-function-ease-in-out-bezier);
  --el-transition-fade: opacity var(--el-transition-duration)
    var(--el-transition-function-fast-bezier);
  --el-transition-md-fade: transform var(--el-transition-duration)
      var(--el-transition-function-fast-bezier),
    opacity var(--el-transition-duration)
      var(--el-transition-function-fast-bezier);
  --el-transition-fade-linear: opacity var(--el-transition-duration-fast) linear;
  --el-transition-border: border-color var(--el-transition-duration-fast)
    var(--el-transition-function-ease-in-out-bezier);
  --el-transition-box-shadow: box-shadow var(--el-transition-duration-fast)
    var(--el-transition-function-ease-in-out-bezier);
  --el-transition-color: color var(--el-transition-duration-fast)
    var(--el-transition-function-ease-in-out-bezier);
  --el-component-size-large: 40px;
  --el-component-size: 32px;
  --el-component-size-small: 24px;
}

:root {
  color-scheme: light;
  --el-color-white: #ffffff;
  --el-color-black: #000000;
  --el-color-primary: var(--dm_azul_00);
  --el-color-primary-light-3: #79bbff;
  --el-color-primary-light-5: #a0cfff;
  --el-color-primary-light-7: #c6e2ff;
  --el-color-primary-light-8: #d9ecff;
  --el-color-primary-light-9: #ecf5ff;
  --el-color-primary-dark-2: #337ecc;
  --el-color-success: var(--dm_verde_00);
  --el-color-success-light-3: #95d475;
  --el-color-success-light-5: #b3e19d;
  --el-color-success-light-7: #d1edc4;
  --el-color-success-light-8: #e1f3d8;
  --el-color-success-light-9: #f0f9eb;
  --el-color-success-dark-2: #529b2e;
  --el-color-warning: #e6a23c;
  --el-color-warning-light-3: #eebe77;
  --el-color-warning-light-5: #f3d19e;
  --el-color-warning-light-7: #f8e3c5;
  --el-color-warning-light-8: #faecd8;
  --el-color-warning-light-9: #fdf6ec;
  --el-color-warning-dark-2: #b88230;
  --el-color-danger: #f56c6c;
  --el-color-danger-light-3: #f89898;
  --el-color-danger-light-5: #fab6b6;
  --el-color-danger-light-7: #fcd3d3;
  --el-color-danger-light-8: #fde2e2;
  --el-color-danger-light-9: #fef0f0;
  --el-color-danger-dark-2: #c45656;
  --el-color-error: #f56c6c;
  --el-color-error-light-3: #f89898;
  --el-color-error-light-5: #fab6b6;
  --el-color-error-light-7: #fcd3d3;
  --el-color-error-light-8: #fde2e2;
  --el-color-error-light-9: #fef0f0;
  --el-color-error-dark-2: #c45656;
  --el-color-info: var(--dm_cinza_01);
  --el-color-info-light-3: #b1b3b8;
  --el-color-info-light-5: #c8c9cc;
  --el-color-info-light-7: #dedfe0;
  --el-color-info-light-8: #e9e9eb;
  --el-color-info-light-9: #f4f4f5;
  --el-color-info-dark-2: #73767a;
  --el-bg-color: var(--dm_creme_00);
  --el-bg-color-page: #f2f3f5;
  --el-bg-color-overlay: var(--dm_creme_00);
  --el-text-color-primary: #303133;
  --el-text-color-regular: #606266;
  --el-text-color-secondary: #909399;
  --el-text-color-placeholder: #a8abb2;
  --el-text-color-disabled: #c0c4cc;
  --el-border-color: #dcdfe6;
  --el-border-color-light: #e4e7ed;
  --el-border-color-lighter: #ebeef5;
  --el-border-color-extra-light: #f2f6fc;
  --el-border-color-dark: #d4d7de;
  --el-border-color-darker: #cdd0d6;
  --el-fill-color: #f0f2f5;
  --el-fill-color-light: #f5f7fa;
  --el-fill-color-lighter: #fafafa;
  --el-fill-color-extra-light: #fafcff;
  --el-fill-color-dark: #ebedf0;
  --el-fill-color-darker: #e6e8eb;
  --el-fill-color-blank: var(--dm_creme_00);
  --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04),
    0px 8px 20px rgba(0, 0, 0, 0.08);
  --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
  --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08),
    0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
  --el-disabled-bg-color: var(--el-fill-color-light);
  --el-disabled-text-color: var(--el-text-color-placeholder);
  --el-disabled-border-color: var(--el-border-color-light);
  --el-overlay-color: rgba(0, 0, 0, 0.8);
  --el-overlay-color-light: rgba(0, 0, 0, 0.7);
  --el-overlay-color-lighter: rgba(0, 0, 0, 0.5);
  --el-mask-color: rgba(255, 255, 255, 0.9);
  --el-mask-color-extra-light: rgba(255, 255, 255, 0.3);
  --el-border-width: 1px;
  --el-border-style: solid;
  --el-border-color-hover: var(--el-text-color-disabled);
  --el-border: var(--el-border-width) var(--el-border-style)
    var(--el-border-color);
  --el-svg-monochrome-grey: var(--el-border-color);
}
h1,
.h1,
.header_h1,
h2,
.h2,
.header_h2,
h2,
.h3,
.header_h3,
h4,
.h4,
.header_h4 {
  font-family: var(--roboto-slab);
  font-weight: 500;
}
h5,
.h5,
.header_h5,
h6,
.h6,
.header_h6 {
  font-family: var(--roboto);
  font-weight: 700;
}
h1,
.h1,
.header_h1 {
  font-size: 28px;
}
.h2,
h2,
.header_h2 {
  font-size: 24px;
}
h3,
.h3,
.header_h3 {
  font-size: 22px;
}
h4,
.h4,
.header_h4 {
  font-size: 20px;
}
h5,
.h5,
.header_h5 {
  font-size: 18px;
}
h6,
.h6,
.header_h6 {
  font-size: 16px;
}
.detail_01,
.detail_02,
.detail_03,
.detail_04 {
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
  font-weight: 300;
}
.detail_01 {
  font-size: 16px;
}
.detail_02 {
  font-size: 14px;
}
.detail_03 {
  font-size: 12px;
}
.detail_04 {
  font-size: 10px;
}
.body_01,
.body_02,
.body_03,
.body_04,
.body_05 {
  font-family: var(--roboto);
  color: var(--dm_preto_00);
}
.body_01,
.body_02 {
  font-weight: 500;
}
.body_03 .body_04,
.body_05 {
  font-weight: 400;
}
.body_01 {
  font-size: 20px;
}
.body_02 {
  font-size: 16px;
}
.body_03 {
  font-size: 16px;
}
.body_04 {
  font-size: 14px;
}
.body_05 {
  font-size: 12px;
}
/* Estilos de componentes */
/* .el-button:hover {
  background: var(--dm_azul_02);
  transition: 0.2s;
} */

.el-button--primario {
  box-shadow: 0 3px 6px var(--dm_cinza_03);
  font-family: "Roboto", sans-serif;
  background: var(--dm_azul_00);
  color: var(--dm_creme_00) !important;
  border-radius: 6px;
  transition: 0.2s;
  font-weight: 500;
  font-size: 16px;
  padding: 0 15px;
  border: none;
  height: 35px;
  cursor: pointer;
}
.el-button--primario-larger {
  box-shadow: 0 3px 6px var(--dm_cinza_03);
  font-family: "Roboto", sans-serif;
  background: var(--dm_azul_00);
  color: var(--dm_creme_00) !important;
  border-radius: 6px;
  transition: 0.2s;
  font-weight: 500;
  font-size: 16px;
  padding: 0 15px;
  border: none;
  height: 35px;
  cursor: pointer;
  height: 45px;
  padding: 0 20px;
}
.el-button--primario-larger:hover,
.el-button--primario:hover {
  background: var(--dm_azul_02);
  color: var(--dm_creme_00) !important;
  transition: 0.2s;
}
.el-button:focus {
  background: var(--dm_amarelo_00);
}
.el-button--secundario {
  box-shadow: 0 3px 6px var(--dm_cinza_03);
  font-family: "Rotobo", sans-serif;
  background: var(--dm_creme_00);
  color: var(--dm_azul_00);
  border-radius: 6px;
  transition: 0.2s;
  font-weight: 500;
  font-size: 16px;
  padding: 0 15px;
  border: 2px solid var(--dm_azul_00);
  height: 35px;
  cursor: pointer;
}
.el-button--secundario-larger {
  box-shadow: 0 3px 6px var(--dm_cinza_03);
  font-family: "Rotobo", sans-serif;
  background: var(--dm_creme_00);
  color: var(--dm_azul_00);
  border-radius: 6px;
  transition: 0.2s;
  font-weight: 500;
  font-size: 16px;
  border: 2px solid var(--dm_azul_00);
  cursor: pointer;
  height: 45px;
  padding: 0 20px;
}
.el-button--secundario:focus {
  border-color: var(--dm_amarelo_00);
  background-color: var(--dm_creme_00);
  color: var(--dm_amarelo_00);
}
.el-button--secundario:hover,
.el-button--secundario-larger:hover {
  background: var(--dm_azul_02);
  border-color: var(--dm_azul_00);
  color: var(--dm_azul_00);
  transition: 0.2s;
}
.el-button--terciario {
  font-family: "Rotobo", sans-serif;
  color: var(--dm_azul_00);
  border-radius: 6px;
  transition: 0.2s;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: none;
  text-decoration: underline;
  box-shadow: none;
}
.el-button--terciario-larger {
  font-family: "Rotobo", sans-serif;
  color: var(--dm_azul_00);
  border-radius: 6px;
  transition: 0.2s;
  font-weight: 500;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: none;
  text-decoration: underline;
  box-shadow: none;
}
.el-button--terciario:focus {
  color: var(--dm_amarelo_00);
}
.el-button--terciario:hover,
.el-button--terciario-larger:hover {
  color: var(--dm_azul_02) !important;
  background: none;
  transition: 0.2s;
}
/* =================== */
