.el-tabs--border-card {
  background: var(--dm_creme_02);
}

.el-form--default.el-form--label-top .el-form-item .el-form-item__label {
  color: var(--dm_preto_00);
  font-weight: 700;
  font-size: 16px;
}


.el-loading-spinner .circular {
  background-image: url("../../public/images_dm/icons/blackicons/Loading.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.size-icon {
  transform: scale(1);
}

.el-input__inner::placeholder {
  font-size: 16px;
}

.el-form-item.is-error .el-input__wrapper {
  box-shadow: 0 0 0 2px var(--dm_vermelho_00);
  box-shadow: none;
  border: 2px solid var(--dm_vermelho_00);
}

.el-input__wrapper {
  box-shadow: none;
  border: 2px solid var(--dm_cinza_02);
  height: 35px;
  border-radius: 6px;
}

.el-input__wrapper:hover {
  box-shadow: none;
  border: 2px solid var(--dm_azul_00);
}

.el-input__wrapper.is-focus {

  box-shadow: none;
  border: 2px solid var(--dm_azul_00);
}

.el-date-editor.el-input__wrapper,
.el-date-editor.el-input__wrapper:hover {
  box-shadow: none;
}