dm-card {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 10px 15px;
    max-width: 250px;
    min-height: 100px;
    height: max-content;
    border: 2px solid var(--dm_azul_00);
    color: var(--dm_azul_00);
    cursor: pointer;
    transition: 0.2s;
    background: var(--dm_creme_02);
}

dm-card div {
    font-size: 16px;
}

dm-card:hover {
    border: 2px solid var(--dm_azul_02);
    color: var(--dm_azul_02);
    transition: 0.2s;
}

[card-ativo] {
    background: var(--dm_creme_01);
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: 0;
    border: 2px solid var(--dm_amarelo_00);
    color: var(--dm_amarelo_00);
}

[card-ativo]:hover {
    border: 2px solid var(--dm_amarelo_02);
    color: var(--dm_amarelo_01);
}

dm-card-estatico {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    padding: 10px 15px;
    max-width: 250px;
    min-width: 180px;
    min-height: 100px;
    height: max-content;
    border-style: solid;
    border-color: var(--dm_azul_00);
    background: var(--dm_creme_02);
    border: 2px solid var(--dm_cinza_03);
    color: var(--dm_cinza_01);
}

dm-card-romaneio {
    background: var(--dm_creme_02);
    display: flex;
    height: max-content;
    color: var(--dm_preto_00);
    border-radius: 6px;
    box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.05);
}

dm-card-bar {
    display: flex;
    width: 12px;
    min-height: 100px;
    border-radius: 6px 0 0 6px;
}

dm-card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-style: solid;
    padding: 6px 30px 6px 12px;
    border-color: var(--dm_cinza_03);
    border-width: 2px 2px 2px 0;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    transition: .2s;
}

dm-card-content:hover {
    background-color: var(--dm_creme_00);
    transition: .2s;
}

[romaneio-ativo] {
    border-color: var(--dm_cinza_02);
    background: var(--dm_creme_01);
    transition: .2s;
}