:root {
  --dm-icon-size: 20px
}

dm-icon {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: var(--dm-icon-size);
  height: var(--dm-icon-size);
}

[ArrowRight] {
  background-image: url("../../public/images_dm/icons/blackicons/ArrowRight.svg");
}

[ArrowDown] {
  background-image: url("../../public/images_dm/icons/blackicons/ArrowDown.svg");
}

[ArrowLeft] {
  background-image: url("../../public/images_dm/icons/blackicons/ArrowLeft.svg");
}

[DArrowLeft] {
  background-image: url("../../public/images_dm/icons/blackicons/DArrowLeft.svg");
}

[DArrowRight] {
  background-image: url("../../public/images_dm/icons/blackicons/DArrowRight.svg");
}

[ArrowUp] {
  background-image: url("../../public/images_dm/icons/blackicons/ArrowUp.svg");
}


[Warning] {
  background-image: url("../../public/images_dm/icons/blackicons/Warning.svg");
}


[Image] {
  background-image: url("../../public/images_dm/icons/blackicons/Image.svg");
}

[Link] {
  background-image: url("../../public/images_dm/icons/blackicons/Link.svg");
}


[Email] {
  background-image: url("../../public/images_dm/icons/blackicons/Email.svg");
}

[Send] {
  background-image: url("../../public/images_dm/icons/blackicons/Send.svg");
}

[Filter] {
  background-image: url("../../public/images_dm/icons/blackicons/Filter.svg");
}

[Video] {
  background-image: url("../../public/images_dm/icons/blackicons/Video.svg");
}

[Menu] {
  background-image: url("../../public/images_dm/icons/blackicons/Menu.svg");
}


[Lock] {
  background-image: url("../../public/images_dm/icons/blackicons/Lock.svg");
}

[Unlock] {
  background-image: url("../../public/images_dm/icons/blackicons/Unlock.svg");
}

[Add] {
  background-image: url("../../public/images_dm/icons/blackicons/Add.svg");
}

[Correct] {
  background-image: url("../../public/images_dm/icons/blackicons/Correct.svg");
}

[Alert] {
  background-image: url("../../public/images_dm/icons/blackicons/Alert.svg");
}

[Help] {
  background-image: url("../../public/images_dm/icons/blackicons/Help.svg");
}

[Wrong] {
  background-image: url("../../public/images_dm/icons/blackicons/Wrong.svg");
}

[Calendar] {
  background-image: url("../../public/images_dm/icons/blackicons/Calendar.svg");
}

[Layers] {
  background-image: url("../../public/images_dm/icons/blackicons/Layers.svg");
}

[View] {
  background-image: url("../../public/images_dm/icons/blackicons/View.svg");
}

[Hide] {
  background-image: url("../../public/images_dm/icons/blackicons/Hide.svg");
}

[Chat] {
  background-image: url("../../public/images_dm/icons/blackicons/Chat.svg");
}

[Document] {
  background-image: url("../../public/images_dm/icons/blackicons/Document.svg");
}

[History] {
  background-image: url("../../public/images_dm/icons/blackicons/History.svg");
}

[Phone] {
  background-image: url("../../public/images_dm/icons/blackicons/Phone.svg");
}

[WebSite] {
  background-image: url("../../public/images_dm/icons/blackicons/WebSite.svg");
}

[Coverage] {
  background-image: url("../../public/images_dm/icons/blackicons/Coverage.svg");
}

[NewFile] {
  background-image: url("../../public/images_dm/icons/blackicons/NewFile.svg");
}

[Map] {
  background-image: url("../../public/images_dm/icons/blackicons/Map.svg");
}

[Delete] {
  background-image: url("../../public/images_dm/icons/blackicons/Delete.svg");
}

[Logout] {
  background-image: url("../../public/images_dm/icons/blackicons/Logout.svg");
}

[Upload] {
  background-image: url("../../public/images_dm/icons/blackicons/Upload.svg");
}

[Download] {
  background-image: url("../../public/images_dm/icons/blackicons/Download.svg");
}

[Search] {
  background-image: url("../../public/images_dm/icons/blackicons/Search.svg");
}

[User] {
  background-image: url("../../public/images_dm/icons/blackicons/User.svg");
}

[Bell] {
  background-image: url("../../public/images_dm/icons/blackicons/Bell.svg");
}

[Lamp] {
  background-image: url("../../public/images_dm/icons/blackicons/Lamp.svg");
}

[Graphic] {
  background-image: url("../../public/images_dm/icons/blackicons/Graphic.svg");
}

[Options] {
  background-image: url("../../public/images_dm/icons/blackicons/Options.svg");
}

[Check] {
  background-image: url("../../public/images_dm/icons/blackicons/Check.svg");
}

[Close] {
  background-image: url("../../public/images_dm/icons/blackicons/Close.svg");
}

[Products] {
  background-image: url("../../public/images_dm/icons/blackicons/Products.svg");
}

[Folder] {
  background-image: url("../../public/images_dm/icons/blackicons/Folder.svg");
}

[Upload] {
  background-image: url("../../public/images_dm/icons/blackicons/Upload.svg");
}

[Edit] {
  background-image: url("../../public/images_dm/icons/blackicons/Edit.svg");
}

[Location] {
  background-image: url("../../public/images_dm/icons/blackicons/Location.svg");
}

[Loading] {
  background-image: url("../../public/images_dm/icons/blackicons/Loading.svg");
}

[HappyEmote] {
  background-image: url("../../public/images_dm/icons/blackicons/HappyEmote.svg");
}

/* White Icons */

[ArrowRightWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/ArrowRight.svg");
}

[ArrowDownWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/ArrowDown.svg");
}

[ArrowLeftWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/ArrowLeft.svg");
}

[DArrowLeftWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/DArrowLeft.svg");
}

[DArrowRightWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/DArrowRight.svg");
}

[ArrowUpWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/ArrowUp.svg");
}

[WarningWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Warning.svg");
}

[ImageWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Image.svg");
}

[LinkWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Link.svg");
}

[EmailWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Email.svg");
}

[SendWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Send.svg");
}

[FilterWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Filter.svg");
}

[VideoWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Video.svg");
}

[MenuWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Menu.svg");
}

[LockWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Lock.svg");
}

[UnlockWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Unlock.svg");
}

[AddWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Add.svg");
}

[CorrectWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Correct.svg");
}

[AlertWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Alert.svg");
}

[HelpWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Help.svg");
}

[WrongWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Wrong.svg");
}

[CalendarWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Calendar.svg");
}

[LayersWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Layers.svg");
}

[ViewWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/View.svg");
}

[HideWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Hide.svg");
}

[ChatWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Chat.svg");
}

[DocumentWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Document.svg");
}

[HistoryWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/History.svg");
}

[PhoneWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Phone.svg");
}

[WebSiteWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/WebSite.svg");
}

[CoverageWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Coverage.svg");
}

[NewFileWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/NewFile.svg");
}

[MapWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Map.svg");
}

[DeleteWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Delete.svg");
}

[LogoutWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Logout.svg");
}

[UploadWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Upload.svg");
}

[DownloadWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Download.svg");
}

[SearchWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Search.svg");
}

[UserWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/User.svg");
}

[BellWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Bell.svg");
}

[LampWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Lamp.svg");
}

[GraphicWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Graphic.svg");
}

[OptionsWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Options.svg");
}

[CheckWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Check.svg");
}

[CloseWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Close.svg");
}

[ProductsWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Products.svg");
}

[FolderWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Folder.svg");
}

[UploadWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Upload.svg");
}

[EditWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Edit.svg");
}

[LocationWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Location.svg");
}

[LoadingWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/Loading.svg");
}

[HappyEmoteWhite] {
  background-image: url("../../public/images_dm/icons/whiteicons/HappyEmote.svg");
}

/* Outros */

[AlertRed] {
  background-image: url("../../public/images_dm/icons/AlertRed.svg");
}

[AlertYellow] {
  background-image: url("../../public/images_dm/icons/AlertYellow.svg");
}

[CorrectGreen] {
  background-image: url("../../public/images_dm/icons/CorrectGreen.svg");
}