@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: 'Roboto', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Roboto Slab', serif; */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Roboto", sans-serif;

}

.el-container {
  overflow: overlay;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--dm_cinza_02);
  border-radius: 20px;
  border: transparent;
}

@import "tipografia.css";
@import "cores.css";
@import "iconografia.css";
@import "header.css";
@import "seletor.css";
@import "campodetexto.css";
@import "dropdown.css";
@import "buttons.css";
@import "table.css";
@import "tags.css";
@import "loading.css";
@import "calendário.css";
@import "checkbox.css";
@import "upload.css";
@import "legenda.css";
@import "mensagens.css";
@import "pin.css";
@import "card.css";

:root {
  --el-color-primary: var(--dm_azul_00);
  --el-text-color-primary: var(--dm_preto_00);
  --el-color-success: var(--dm_verde_00);
  --el-color-warning: #e6a23c;
  --el-color-danger: #f56c6c;
  --el-color-error: #f56c6c;
  --el-color-black: var(--dm_preto_00);
  --el-color-info: var(--dm_cinza_01);
  --el-color-white: var(--dm_creme_02);
  --el-bg-color: var(--dm_creme_02);
  --el-bg-color-overlay: var(--dm_creme_02);
  --el-fill-color-blank: var(--dm_creme_02);
  --el-color-primary-light-5: var(--dm_azul_02);
}

hr,
.hr {
  border: none;
  border-top: 1px solid var(--dm_cinza_04);
}

