.dm-button--popup {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 30px;
    height: 35px;
    background: var(--dm_azul_00);
    color: var(--dm_creme_02);
    border-radius: 6px;
}

dm-popup-background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 480px;
    height: 260px;
    background: var(--dm_creme_02);
    padding: 40px;
    border-radius: 6px;
    color: var(--dm_preto_00);
    cursor: default;
}

dm-popup-background dm-icon {
    width: 40px;
    height: 40px;
}

dm-popup {
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    color: var(--dm_creme_00);
}

dm-button-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px var(--dm_cinza_03);
    font-family: "Roboto", sans-serif;
    background: var(--dm_azul_00);
    color: var(--dm_creme_00) !important;
    border-radius: 6px;
    transition: 0.2s;
    font-weight: 500;
    font-size: 16px;
    padding: 0 32px;
    border: none;
    height: 35px;
    cursor: pointer;
}

.dm-button-popup--secundario {
    background: var(--dm_creme_00);
    border: 2px solid var(--dm_azul_00);
    color: var(--dm_azul_00) !important;
}


.dm-button-popup--secundario:focus {
    border-color: var(--dm_amarelo_00);
    background-color: var(--dm_creme_00);
    color: var(--dm_amarelo_00);
}

.dm-button-popup--secundario:hover,
.dm-button-popup--secundario-larger:hover {
    background: var(--dm_azul_02);
    border-color: var(--dm_azul_00);
    color: var(--dm_azul_00);
    transition: 0.2s;
}


/* ALERTA */

dm-information {
    display: grid;
    grid-template-columns: 25px 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
    padding: 14px 20px;
    border: 2px solid var(--dm_amarelo_01);
    border-radius: 6px;
    width: max-content;
    background: var(--dm_creme_02);
}

dm-information dm-icon {
    width: 43px;
    height: 43px;
}

dm-information span {
    text-align: center;
}

dm-information span .el-button--terciario {
    text-align: center;
    height: 0;
}

/* Element Plus */

dm-alert {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 100;
}

dm-alert-container {
    display: flex;
    align-items: center;
    width: max-content;
    padding: 10px 14px;
    border-radius: 6px;
    background-color: var(--dm_creme_02);
    color: var(--dm_preto_00);
    border: 2px solid var(--dm_vermelho_00);
    min-height: 40px;
    font-weight: 600;
}

dm-alert-container span {
    display: flex;
    gap: 4px;
    margin-left: 14px;
}

dm-atencao {
    color: var(--dm_vermelho_00);
}

dm-alert-container button {
    border: none;
    background: none;
    transition: .2s;
    cursor: pointer;
    margin-left: 12px;
}

dm-alert-container button:hover {
    opacity: 0.6;
    transition: .2s;
}