:root {
    --latLong: 44px
}

dm-pin {
    position: relative;
    display: flex;
    width: var(--latLong);
    height: var(--latLong);
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

dm-pin img {
    position: absolute;
    width: var(--latLong);
    height: var(--latLong);
    cursor: pointer;
}

dm-pin-footer {
    display: block;
    position: absolute;
    border-radius: 0 0 6px 6px;
    bottom: 0;
    height: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
}

dm-pin-arrow,
dm-pin-footer {
    background-color: var(--dm_azul_00);
}

dm-pin-arrow {
    display: block;
    margin: auto;
    width: 16px;
    height: 16px;
    transform: translateY(5px) rotate(45deg);
}

dm-pin-conteudo {
    display: block;
    text-align: start;
    padding: 10px;
}

dm-pin-img {
    display: flex;
    background-repeat: no-repeat;
    background-position: start;
    background-size: contain;
    width: var(--latLong);
    height: var(--latLong);
    cursor: pointer;
}


dm-pin:hover dm-pin-background {
    display: block;
}


dm-pin-background {
    display: none;
    position: absolute;
    transform: translate(-7px, -80px);
    background: var(--dm_creme_02);
    border-radius: 6px;
    height: max-content;
    min-width: 300px;
    padding-bottom: 14px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

/* Azul básico */

[type="pin_basico_azul"] {
    background-image: url('../../public/images_dm/pins/azul/pin_basico_azul.svg');
}

[type="pin_basico_azul_bom"] {
    background-image: url('../../public/images_dm/pins/azul/pin_basico_azul_bom.svg');
}

[type="pin_basico_azul_medio"] {
    background-image: url('../../public/images_dm/pins/azul/pin_basico_azul_medio.svg');
}

[type="pin_basico_azul_ruim"] {
    background-image: url('../../public/images_dm/pins/azul/pin_basico_azul_ruim.svg');
}

/* Azul coroa */

[type="pin_coroa_azul"] {
    background-image: url('../../public/images_dm/pins/azul/pin_coroa_azul.svg');
}

[type="pin_coroa_azul_bom"] {
    background-image: url('../../public/images_dm/pins/azul/pin_coroa_azul_bom.svg');
}

[type="pin_coroa_azul_medio"] {
    background-image: url('../../public/images_dm/pins/azul/pin_coroa_azul_medio.svg');
}

[type="pin_coroa_azul_ruim"] {
    background-image: url('../../public/images_dm/pins/azul/pin_coroa_azul_ruim.svg');
}

/* Rosa básico */

[type="pin_basico_rosa"] {
    background-image: url('../../public/images_dm/pins/rosa/pin_basico_rosa.svg');
}

[type="pin_basico_rosa_bom"] {
    background-image: url('../../public/images_dm/pins/rosa/pin_basico_rosa_bom.svg');
}

[type="pin_basico_rosa_medio"] {
    background-image: url('../../public/images_dm/pins/rosa/pin_basico_rosa_medio.svg');
}

[type="pin_basico_rosa_ruim"] {
    background-image: url('../../public/images_dm/pins/rosa/pin_basico_rosa_ruim.svg');
}

/* Rosa coroa */

[type="pin_coroa_rosa"] {
    background-image: url('../../public/images_dm/pins/rosa/pin_coroa_rosa.svg');
}

[type="pin_coroa_rosa_bom"] {
    background-image: url('../../public/images_dm/pins/rosa/pin_coroa_rosa_bom.svg');
}

[type="pin_coroa_rosa_medio"] {
    background-image: url('../../public/images_dm/pins/rosa/pin_coroa_rosa_medio.svg');
}

[type="pin_coroa_rosa_ruim"] {
    background-image: url('../../public/images_dm/pins/rosa/pin_coroa_rosa_ruim.svg');
}

/* Amarelo básico */

[type="pin_basico_amarelo"] {
    background-image: url('../../public/images_dm/pins/amarelo/pin_basico_amarelo.svg');
}

[type="pin_basico_amarelo_bom"] {
    background-image: url('../../public/images_dm/pins/amarelo/pin_basico_amarelo_bom.svg');
}

[type="pin_basico_amarelo_medio"] {
    background-image: url('../../public/images_dm/pins/amarelo/pin_basico_amarelo_medio.svg');
}

[type="pin_basico_amarelo_ruim"] {
    background-image: url('../../public/images_dm/pins/amarelo/pin_basico_amarelo_ruim.svg');
}

/* Amarelo coroa */

[type="pin_coroa_amarelo"] {
    background-image: url('../../public/images_dm/pins/amarelo/pin_coroa_amarelo.svg');
}

[type="pin_coroa_amarelo_bom"] {
    background-image: url('../../public/images_dm/pins/amarelo/pin_coroa_amarelo_bom.svg');
}

[type="pin_coroa_amarelo_medio"] {
    background-image: url('../../public/images_dm/pins/amarelo/pin_coroa_amarelo_medio.svg');
}

[type="pin_coroa_amarelo_ruim"] {
    background-image: url('../../public/images_dm/pins/amarelo/pin_coroa_amarelo_ruim.svg');
}