.el-tag {
  --el-tag-hover-color: none;
  height: 30px;
  padding: 0 10px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: var(--dm_azul_00);
  color: var(--dm_creme_00);
  border: none;
}

.el-tag .el-tag__close {
  color: var(--dm_creme_00);
}

.el-tag.el-tag--azul {
  background: var(--dm_azul_01);
}

.el-tag.el-tag--lilas {
  background: var(--dm_lilas_01);
}

.el-tag.el-tag--rosa {
  background: var(--dm_rosa_01);
}

.el-tag.el-tag--verde {
  background: var(--dm_verde_01);
}

.el-tag.el-tag--laranja {
  background: var(--dm_laranja_01);
}

.el-tag.el-tag--amarelo {
  background: var(--dm_amarelo_01);
}

.el-tag--plain {
  color: var(--dm_preto_00);
}

.el-tag--plain.el-tag--azul {
  background: none;
  border: 2px solid var(--dm_azul_01);
}

.el-tag--plain.el-tag--lilas {
  background: none;
  border: 2px solid var(--dm_lilas_01);
}

.el-tag--plain.el-tag--rosa {
  background: none;
  border: 2px solid var(--dm_rosa_01);
}

.el-tag--plain.el-tag--verde {
  background: none;
  border: 2px solid var(--dm_verde_01);
}

.el-tag--plain.el-tag--laranja {
  background: none;
  border: 2px solid var(--dm_laranja_01);
}

.el-tag--plain.el-tag--amarelo {
  background: none;
  border: 2px solid var(--dm_amarelo_01);
}

.el-tag--plain.el-tag.el-tag .el-tag__close {
  color: var(--dm_preto_00);
}