.el-input__inner::placeholder {
  color: var(--dm_cinza_02);
  font-weight: 400;
  font-size: 16px;
}

.el-tabs--border-card {
  background: var(--dm_creme_02);
}

.el-form--default.el-form--label-top .el-form-item .el-form-item__label {
  color: var(--dm_preto_00);
  font-weight: 700;
  font-size: 16px;
}

.el-input.is-disabled .el-input__wrapper,
.el-input__inner {
  background: var(--dm_creme_02);
  border-radius: 6px;
  box-shadow: none;
}

.el-input__wrapper {
  box-shadow: 0 0 0 1px var(--dm_cinza_03, var(--dm_azul_00)) inset;
  height: 35px;
  border-radius: 6px;
  padding: 0 2px;
}

.el-input__wrapper:hover {
  box-shadow: 0 0 0 1px var(--dm_cinza_03) inset;
}

.el-input__wrapper.is-focus {
  box-shadow: 0 0 0 1px var(--dm_azul_00) inset;
}

.el-loading-spinner .circular {
  background-image: url("../../public/imagens_design_system/icons/blackicons/loading.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.size-icon {
  transform: scale(1);
}

.el-input__inner {
  border-radius: 3px;
  border-color: var(--dm_cinza_02);
  background-color: var(--dm_creme_02);
  padding: 0 10px;
  height: 31px
}

.el-input.is-disabled .el-input__wrapper,
.el-input__inner {
  background-color: none;
  background: none;
}