.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--dm_azul_00);
    height: 50px;
    width: 100%;
    padding: 0 16px;
}

.img-header {
    width: 35px;
    margin-right: 60px;
}

.icon {
    width: 25px;
    cursor: pointer;
}

.optionMenu {
    display: flex;
    align-items: center;
    height: 50px;
}