dm_icon {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25px;
  height: 25px;
}

[maisInformacoes] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/maisInformacoes.svg");
}

[maisInformacoes] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/maisInformacoes.svg");
}

[endereco] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/endereco.svg");
}

[loading] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/loading.svg");
}

[imagem] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/imagem.svg");
}

[novoArquivo] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/novoArquivo.svg");
}

[email] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/email.svg");
}

[envio] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/envio.svg");
}

[retroceder] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/retroceder.svg");
}

[avancar] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/avancar.svg");
}

[filtro] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/filtro.svg");
}

[video] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/video.svg");
}

[menu] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/menu.svg");
}

[cima] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/cima.svg");
}

[cadeadoAberto] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/cadeadoAberto.svg");
}

[cadeadoFechado] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/cadeadoFechado.svg");
}

[adicionar] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/adicionar.svg");
}

[correta] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/correta.svg");
}

[alerta] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/alerta.svg");
}

[duvida] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/duvida.svg");
}

[errada] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/errada.svg");
}

[calendario] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/calendario.svg");
}

[camada] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/camada.svg");
}

[camadaAberta] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/camadaAberta.svg");
}

[camadaFechada] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/camadaFechada.svg");
}

[chat] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/chat.svg");
}

[documento] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/documento.svg");
}

[historico] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/historico.svg");
}

[telefone] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/telefone.svg");
}

[internet] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/internet.svg");
}

[localizacao] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/localizacao.svg");
}

[mapas] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/mapas.svg");
}

[lixeira] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/lixeira.svg");
}

[logout] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/logout.svg");
}

[upload] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/upload.svg");
}

[download] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/download.svg");
}

[lupa] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/lupa.svg");
}

[perfil] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/perfil.svg");
}

[notificacao] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/notificacao.svg");
}

[sugestao] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/sugestao.svg");
}

[emote] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/emote.svg");
}

[estatisticas] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/estatisticas.svg");
}

[maisOpcoes] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/maisOpcoes.svg");
}

[prosseguir] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/prosseguir.svg");
}

[editar] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/editar.svg");
}

[baixo] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/baixo.svg");
}

[voltar] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/voltar.svg");
}

[check] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/check.svg");
}

[close] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/close.svg");
}

[produtos] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/produtos.svg");
}

[pasta] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/pasta.svg");
}

[upload] {
  background-image: url("../../public/imagens_design_system/icons/blackicons/upload.svg");
}