.el-upload-dragger {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  background-color: var(--dm_creme_02);
  width: 100%;
  border-color: var(--dm_azul_00);
  border-width: 2px;
  height: 130px;
  border-style: dashed;
}

.el-upload {
  width: 100%;
}

.el-upload .icon {
  margin-bottom: 10px;
}

.el-upload__text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dm-upload dm-icon {
  --dm-icon-size: 30px;
  margin-bottom: 10px;
}